<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Приложение_для_файлов_1._1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Приложение_для_файлов_1._1.Properties.Settings>
            <setting name="Save_name_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_name_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_name_3" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_name_4" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_salary_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_salary_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_salary_3" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_salary_4" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_Voda_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_Voda_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_Elektro_1" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_Elektro_2" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_Elektro_3" serializeAs="String">
                <value />
            </setting>
            <setting name="DataCounters1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters21" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters22" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters23" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters24" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters25" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters26" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters27" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters28" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters29" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters30" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters32" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters33" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters34" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters35" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataCounters36" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="test" serializeAs="String">
                <value>0</value>
            </setting>
        </Приложение_для_файлов_1._1.Properties.Settings>
    </userSettings>
</configuration>